@shadow-1: 4px 4px 20px 0 rgba(0, 0, 0, .01);

.pages {
  background: #fff;
  padding: 24px;
  box-shadow: @shadow-1;
  // min-height: ~'calc(100vh - 200px)';
  min-height: ~'calc(100vh - 160px)';
  position: relative;
}





@media (min-width: 780px) {
  .pages {
    min-width: 1103px;
  }
  .titleStyle {
    border-left: 6px solid #2c90ff;
    padding-left: 2px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .secondTitleStyle {
    border-left: 6px solid #2c90ff;
    padding-left: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
  
    .enrollContainer {
  
      .detailInfo {
        padding: 10px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  
  .rightContainer {
    width: 300px;
    background: #f5f7fa;
    padding: 20px;
  
  
    .checkOrder {}
  
    .orderInfo {
      padding: 10px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    // .checkOrder::before {
    //   content: '';
    //   display: inline-block;
    //   width: 6px;
    //   // height: 100%;
    //   background-color: #2c90ff;
    // }
  }

}

@media (max-width: 767px) {
  .pages {
    width: ~'calc(100vw - 120px)';
  }

  .titleStyle {
    border-left: 6px solid #2c90ff;
    padding-left: 2px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .secondTitleStyle {
    border-left: 6px solid #2c90ff;
    padding-left: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
  
    .enrollContainer {
  
      .detailInfo {
        padding: 10px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  
  .rightContainer {
    // width: 300px;
    // background: #f5f7fa;
    // padding: 20px;
  
  
    .checkOrder {}
  
    .orderInfo {
      padding: 10px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    // .checkOrder::before {
    //   content: '';
    //   display: inline-block;
    //   width: 6px;
    //   // height: 100%;
    //   background-color: #2c90ff;
    // }
  }
}