.stepsContent {
  height: 46px;
  position: relative;
  width: 1020px;

  :global(.ant-steps-navigation
      .ant-steps-item-container
      .ant-steps-item-content) {
    max-width: 145px !important;
  }
}

.steps {
  margin-bottom: 60px;
  box-shadow: 0px -2px 0 0 #e6e6e6 inset;

  :global(.ant-steps-item-icon) {
    font-weight: bold;
  }
}

.main {
  width: 1020px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgba(230, 247, 255, 23%);
}
