.userInfoMain {
  padding-left: 40px;
  padding-right: 40px;

  .centerInfo {
    text-align: center;
  }

  .content {
      margin-top: 14px;
  }

  p {
    color: rgba(0, 0, 0, 0.85);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;

    span {
      color: rgba(0, 0, 0, 0.45);
      margin-right: 30px;
    }
  }
}
