.file {
  position: relative;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: unset !important;

  a {
    color: unset;
  }

  a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #09aaff;
  }

  .svg {
    font-size: 24px;
    position: absolute;
  }

  button {
    margin-left: 3px;
    color: #40a9ff;
    border-color: #40a9ff;
  }
}

.fileText {
  position: relative;
  text-indent: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: unset !important;
}

.table {
  :globle {
    .ant-table-row-cell-break-word {
      background-color: unset !important;
    }
  }
}
