.col {
  display: flex;
  justify-content: flex-end;
}

.spanText {
  padding-top: 10px;
  display: inline-block;
}

.spanText2 {
  padding-top: 10px;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
}

.chartRow {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.chartCol {
  border: solid 1px #dddddd;
  padding: 10px 0;
}
