.content {
    padding: 50px 0;
    border-top: 1px solid #ddd;
    color: #9c9c9c;
  }
  
  .form {
    margin: 0 auto;
    font-size: 14px;
    width: 520px;
  }
  
  .aLink {
    font-size: 10px;
    text-decoration: underline;
  }
  
  .btn {
      display: inline-block;
      zoom: 1;
      *display: inline;
      height: 36px;
      line-height: 36px;
      padding: 0 20px;
      font-weight: 700;
      text-align: center;
      border: 0;
      border-radius: 3px;
      cursor: pointer;
      min-width: 180px;
  }
  
  .error {
    color: red;
    label {
      margin-left: 5px;
    }
  }