.content {
  padding: 50px 0;
}

.form {
  margin: 0 auto;
  font-size: 14px;
  width: 520px;
}

.hiddenExtra{
  :global(.ant-form-extra) {
    display: none
  }
}

.showExtra{
  :global(.ant-form-extra) {
    display: block
  }
}

.aLink {
  font-size: 10px;
  text-decoration: underline;
}

.btn {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    font-weight: 700;
    text-align: center;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    min-width: 180px;
}

.codeBtn {
  margin-left: 3px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 5px;
  color: #404040;
  background-color: #f7f7f7;
  border: 1px solid #d0d0d0;
}

.tip {
  color: #ff4a00;
  margin: 0;

  label {
    color: #3e3e3e;
    font-size: 12px;
    margin-left: 5px;
  }
}

.error {
  color: red;
  label {
    margin-left: 5px;
  }
}