.stepsContent {
  height: 46px;
  position: relative;
}

.steps {
  margin-bottom: 60px;
  box-shadow: 0px -2px 0 0 #e6e6e6 inset;

  :global(.ant-steps-item-process .ant-steps-item-icon) {
    // background: #0b3c81;
    // border-color: #0b3c81;
  }

  :global(.ant-steps-item-icon) {
    font-weight: bold;
  }
}

// #0b3c81
