.modal {

  :global(.ant-modal-footer) {
    text-align: center;
  }

  :global{
    .ant-modal-body{
      // padding-bottom: 0;
    }

    .ant-form-item:first-child {
      margin-bottom: 0;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
