.largeUploader {
  float: left;

  :global {
    .webuploader-pick {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 14px;
      background: #1890ff;
    }
    .webuploader-pick-hover {
      background-color: #40a9ff;
      border-color: #40a9ff;
    }
  }
}