.card {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #eee;

  p {
    margin-bottom: 0;

    span>label {
      color: #000;
    }
  }
}

.licTb {
  :global {
    .ant-table-thead>tr>th {
      background: rgba(24, 144, 255, 10%);
    }
  }
}
