.col {
  margin-bottom: 10px;

  .panel {
    padding: 15px;
    background-color: #f0f8ff;
  }
}

.scan {
  :global {
    .ant-form-item-control {
      line-height: 30px;
    }

    .ant-form-item {
      margin-bottom: 10px !important;
    }

    .ant-checkbox-wrapper+.ant-checkbox-wrapper {
      margin-left: 0;
    }

    .ant-checkbox-wrapper {
      margin-right: 4px;
      margin-bottom: 2px;
    }
  }
}

.name {
  display: inline-block;
  margin-right: 20px;
}

.toolDiv {
  padding: 12px;
  width: 50%;
  float: left;

  .toolTitle {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(24, 144, 255, 0.2);
  }

  img {
    height: 30px;
  }

  p {
    margin-bottom: 5px;
  }

  .toolValue {
    padding-left: 40px;
  }
}

.cfmModal {
  :global {
    .ant-collapse {
      background-color: #e6f7ff;
      border: 1px solid #bce9ff;
      border-bottom: 0;
    }

    .ant-collapse>.ant-collapse-item>.ant-collapse-header {
      color: #096dd9;
    }

    .ant-collapse>.ant-collapse-item {
      border-bottom: 1px solid #bce9ff;
    }

    .ant-collapse-content {
      border-top: 1px solid #bce9ff;
    }
  }
}
