.main {
    background-color: #fff;
    padding: 24px;
    padding-bottom: 60px;
    margin-top: 24px;
    margin-bottom: 50px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

    .topIcon {
        margin-bottom: 30px;
    }

    .sectionTitle {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .bottomTips {
        color: #aaa;
        margin-bottom: 20px;
    }

    .reBtn {
        margin-top: 120px; 
    }



}