.logControl {
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 1;

  :global {
    .ant-btn-ghost {
      color: #fafafa;
      background-color: rgba(33, 93, 156, 50%);
    }

    .ant-btn-ghost:hover,
    .ant-btn-ghost:focus {
      color: #40a9ff;
    }
  }
}

.logTopControl {
  top: 40px;
  bottom: auto;
}
