.page {
  .title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  :global {
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
      background-color: #fff !important;
    }
  }
}


.text {
  display: inline-block;
  width: 50px;
}