.title {
  font-weight: bold;
}

.row {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: right;
  padding: 5px;

  .sp {
    margin-left: 20px;
  }

  .lb {
    font-weight: bold;
  }

  .fee {
    font-size: 18px;
    font-weight: 700;
    color: #ed711f;
  }
}
