.listCard {
  :global {
    .ant-card-bordered {
      border: 1px solid rgba(24, 144, 255, 0.2);
    }

    .ant-card-body {
      padding: 0;
    }

    .ant-avatar {
      background: #e6f7ff;
      width: 56px;
      height: 56px;
    }

    .ant-avatar.ant-avatar-icon {
      font-size: 56px;
    }

    .ant-card-grid {
      padding: 16px;
      box-shadow: unset;
    }
  }
}

.content {
  color: rgba(0, 0, 0, 0.65);
}

// 一行，多出的省略号
.desp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatarDiv:hover {
  cursor: pointer
}
