.btn {
  background-color: #52c41a;
  border-color: #52c41a;
}

.btn:hover,
.btn:focus {
  background-color: rgba(82, 196, 26, 0.72);
  border-color: rgba(82, 196, 26, 0.72);
}

.excelP {
  // margin-bottom: 0;

  .left {
    display: inline-block;
    background-color: #f6ffed;
    color: #000;
    padding: 2px 6px;

    i {
      color: #52c41a;
      margin-right: 2px;
    }
  }

  .right {
    float: right;
  }
}
