.leggoConfigs {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .topArea{
      min-height: 50px;
    }
  
    .topAreaLeft{
      flex: 1;
      overflow: auto;
      // border: 1px solid green;
      .topAreaLeftFormContent{
        margin-right: 40px;
        .item{
          margin: 15px 0;
          padding-top: 10px;
          border: 1px dashed rgba(0, 0, 0, .25);
          .itemForbidden{
            pointer-events: none;
          }
          &:hover{
            border-color: #eee;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
            transition: all .2s ease-in-out;
          }
        }
      }
    }
  
  
    .leggoConfigsMiddle{
      flex: 1;
      display: flex;
      flex-direction: column;
  
      .topActions{
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
  
      .leggoConfigsMiddleForm{
        flex: 1;
        border: 1px dashed red;
        overflow: auto;
        .dropArea{
          min-height: 100%;
          padding: 20px;
          // border: 1px dashed green;
          
          .droppedItem{
            position: relative;
            margin: 15px 0;
            .deleteButt{
              visibility: hidden;
            }
            &:hover{
              .deleteButt{
                visibility: visible;
              }
            }
          }
  
          .activeItem{
            border: 1px dashed rgba(0, 0, 0, .25);
          }
        }
      }
    }
  
  
    .leggoConfigsRight{
      flex: 1;
      .scrollContainer{
        height: calc(100% - 50px);
        overflow: auto;
        // border: 1px solid green;
        .configsArea{
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
    
  }
  