.main {
  background-color: #fff;
  padding: 24px;
  padding-bottom: 60px;
  margin-top: 24px;
  margin-bottom: 50px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}