.btn {
  :global {
    .ant-btn {
      color: #1890ff;
      background-color: #fff;
      border-color: #1890ff;
    }
  }
}


.modal {
  :global {
    .ant-modal-body {
      min-height: 200px;
    }
  }
}
