.status {
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}

.stepsContent {
  height: 46px;
  position: relative;

  :global(.ant-steps-navigation
      .ant-steps-item-container
      .ant-steps-item-content) {
    max-width: 145px !important;
  }
}

.steps {
  margin-bottom: 60px;
  box-shadow: 0px -2px 0 0 #e6e6e6 inset;

  :global(.ant-steps-item-icon) {
    font-weight: bold;
  }
}

.readme {
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%;

  h3 {
    text-align: center;
  }
}

.tip {
  font-size: 12px;
  color: #ff4d4f;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 26px;
}

.command {
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
}

.modal{
  :global {
    .ant-form-item{
      margin-bottom: 12px;
    }
  }
}

.extraTip {
  color:rgba(0, 0, 0, 0.45);
}
