.main {
  background-color: #fff;
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);

  .spanTitle {
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
}

.form {
  :global {
    .ant-form-explain {
      font-size: 12px;
    }

    .ant-form-extra {
      font-size: 12px;
    }
  }
}

.tip {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
  color: #ed711f;
}

.noBtom {
  margin-top: 1px;
  margin-bottom: 0;
}
