.sureBtn {
  background-color: #fa7821;
  border-color: #ed711f;
  margin-right: 10px;
}

.sureBtn:hover,
.sureBtn:focus {
  background-color: #ed711f;
  border-color: #d6681e;
}

.submitButtons {
  display: block;
  white-space: nowrap;
}
