.toolDiv {
  padding: 12px;
  width: 50%;
  float: left;

  .toolTitle {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(24, 144, 255, 0.2);
  }

  img {
    height: 30px;
  }

  p {
    margin-bottom: 5px;
  }

  .toolValue {
    padding-left: 40px;
  }
}

.wrap {
  width: 100%;
  display: inline-block;

  .title {
    margin-bottom: 0px;
    background-color: rgba(250, 173, 20, 10%);
    padding: 5px;
    color: #000;
  }
}

.cost {
  margin-top: 26px;

  .money {
    color: #ed711f;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 3px;
  }

  .moneyLine {
    margin-left: 5px;
    color: #aaa;
    text-decoration: line-through;
  }
}

.red {
  color: red;
  margin-right: 15px;
}

.rechargeFromDiv {
  margin-top: 20px;

  :global {
    .ant-form-item-label>label {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.rateLabel {
  background-color: #fa8c16;
  color: #fff;
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 10px;

}
