.row {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f0f8ff;
}

.col {
  :global {
    .ant-form-item-with-help {
      margin-bottom: 0 !important;
    }
  }
}

.noBtom {
  width: 100%;
}

.close {
  font-size: 18px;
  color: #a2a2a2;
  float: right;
}

.sp {
  margin-left: 10px;

  >label {
    margin-left: 5px;
    margin-right: 5px;
    color: #ed711f;
  }
}

.tips {
  font-size: 12px;
}

.rd {
  :global {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: #d7e6f8;
    }

    .ant-radio-button-wrapper {
      height: 32px;
      line-height: 32px;
    }

    .ant-radio-button-wrapper {
      width: 120px;
      text-align: center;
    }
  }
}

.userCheck {
  :global {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;

      >.ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }

      .ant-form-item-control {
        line-height: 32px;
      }
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}
