.collapse {
  // background-color: #1890ff;
  :global {
    .ant-collapse-header {
      background-color: #1890ff;
      color: #fff !important;
    }

    .ant-collapse-content-box {
      padding: 0 !important;
    }
  }
}
