.slt {
  width: 150px;
  margin-right: 10px;
}

.rd {
  :global {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: #d7e6f8;
    }

    .ant-radio-button-wrapper {
      height: 32px;
      line-height: 32px;
    }

    .ant-radio-button-wrapper {
      width: 130px;
      text-align: center;
    }
  }
}
