.col {
  margin-bottom: 10px;

  .panel {
    padding: 15px;
    background-color: #f0f8ff;
  }
}

.scan {
  :global {
    .ant-form-item-control {
      line-height: 30px;
    }

    .ant-form-item {
      margin-bottom: unset !important;
    }
  }
}
