.content {
  padding: 50px 0;
  margin: 0 auto;
  width: 950px;
  min-width: 950px;
}

.upload {
  float: left;
  width: 430px;
  height: 300px;
  padding-top: 10px;

  :global(.ant-upload.ant-upload-select-picture-card) {
    width: 420px;
    position: relative;
    height: 300px;
    overflow: hidden;
  }
}

.form {
  // margin: 0 auto;
  font-size: 14px;
  width: 520px;
  float: left;
}

.aLink {
  font-size: 10px;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  min-width: 180px;
}

.error {
  color: red;
  label {
    margin-left: 5px;
  }
}
