.content {
  padding: 50px 0;
}

.form {
  margin: 0 auto;
  font-size: 14px;
  width: 520px;

  :global {
    .has-error .ant-checkbox-inner,
    .has-error .ant-checkbox:hover {
      background-color: #fff;
      border-color: #f5222d;
    }
  }
}

.boldField {
  font-weight: bold;
  font-size: 16px !important;
}

.aLink {
  font-size: 10px;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  min-width: 180px;
}

.error {
  color: red;
  label {
    margin-left: 5px;
  }
}
