.wrap {
  margin-top: 20px;
  padding: 15px;
  padding-left: 28px;
  //   border: 1px solid #7ac23c;
  //   background-color: rgba(122,194,60,0.1);
  border: 1px solid #7ac23c;
  background-color: rgba(24, 144, 255, 0.1);

  h1 {
    font-size: 16px;
    font-weight: bold;
    i {
      font-size: 22px;
      margin-right: 5px;
      color: #7ac23c;
    }
  }
}

.des {
  padding-left: 28px;

  label {
      font-weight: 600;
      color: #0b3c81;
      margin: 0 2px;
  }
}
