.wrap {
  width: 360px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 50px;

  h1 {
    font-size: 16px;
    font-weight: bold;
    
    label {
        font-weight: 600;
        color: #7ac23c;
        margin: 0 2px;
    }
  }
}

.btnWrap {
    padding-top: 40px;
}

.btn {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    font-weight: 700;
    text-align: center;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    min-width: 180px;
    margin-right: 10px;
}
