.stepsContent {
  height: 46px;
  position: relative;

  :global(.ant-steps-navigation .ant-steps-item-container .ant-steps-item-content) {
    max-width: 145px !important;
  }
}

.steps {
  margin-bottom: 60px;
  box-shadow: 0px -2px 0 0 #e6e6e6 inset;

  :global(.ant-steps-item-icon) {
    font-weight: bold;
  }
}
