.content {
  min-height: calc(100vh - 160px);
  min-width: 1103px;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 24px;
  color: #333;
}

.lineTitle {
  border-left: 2px solid #1890ff;
  padding-left: 5px;
  color: #333;
  font-size: 15px;
  margin: 15px 0;
  line-height: 20px;
  font-weight: 700;
}

.color {
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
}

.color:hover {
  text-decoration: underline;
}
