@fontS:18px;
@height:20px;
@color3:#333;
.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .left,.right {
        height: @height;
    }
    .left{
        width: 2px;
        background-color: @color3;
    }
    .right {
        line-height:@height;
        color: @color3;
        font-weight: 700;
        font-size: @fontS;
        margin-left: 5px;
    }

}