@import "~antd/es/style/themes/default.less";

.standardList {
  min-height: calc(100vh - 160px);
  min-width: 1103px;
  position: relative;
  overflow: hidden;

  :global {
    .ant-card-head {
      border-bottom: none;
    }
    .ant-card-head-title {
      padding-top: 24px;
      line-height: 32px;
    }
    .ant-card-extra {
      padding: 24px 0;
    }
    .ant-list-pagination {
      margin-top: 24px;
      text-align: right;
    }
    .ant-avatar-lg {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
  }

  .cardRow {
    .middle {
      margin-left: 24px;
      margin-right: 24px;
    }

    :global {
      .ant-col-sm-8 {
        width: calc((100% - 48px) / 3);
      }
    }
  }

  .headerInfo {
    position: relative;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;

    .right {
      float: left;
      width: 40%;
      text-align: right;
      font-size: 64px;
      line-height: 64px;
    }

    .left {
      float: left;
      width: 60%;
      text-align: left;

      & > span {
        display: block;
        margin-bottom: 4px;
        color: @text-color-secondary;
        font-size: @font-size-base;
        line-height: 22px;
      }

      & > p {
        margin: 0;
        color: @heading-color;
        font-size: 36px;
        line-height: 36px;
      }
      .total {
        color: #ea9336;
      }

      .finished {
        color: #3eb36f;
      }

      .user {
        color: @heading-color;
      }

      .todo {
        color: #eb5733;
      }
    }
  }

  .listContent {
    font-size: 0;
    .listContentItem {
      display: inline-block;
      margin-left: 40px;
      color: @text-color-secondary;
      font-size: @font-size-base;
      vertical-align: middle;
      > span {
        line-height: 20px;
      }
      > p {
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 22px;
      }
    }
  }
  .extraContentSearch {
    width: 272px;
    margin-left: 16px;
  }
}

@media screen and (max-width: @screen-xs) {
  .standardList {
    :global {
      .ant-list-item-content {
        display: block;
        flex: none;
        width: 100%;
      }
      .ant-list-item-action {
        margin-left: 0;
      }
    }
    .listContent {
      margin-left: 0;
      & > div {
        margin-left: 0;
      }
    }
    .listCard {
      :global {
        .ant-card-head-title {
          overflow: visible;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .standardList {
    .extraContentSearch {
      width: 100%;
      margin-left: 0;
    }
    .headerInfo {
      margin-bottom: 16px;
      & > em {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .standardList {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
  .listCard {
    :global {
      .ant-radio-group {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: @screen-lg) and (min-width: @screen-md) {
  .standardList {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: @screen-xl) {
  .standardList {
    .listContent {
      & > div {
        margin-left: 24px;
      }
      & > div:last-child {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .standardList {
    .listContent {
      text-align: right;
      & > div:last-child {
        top: 0;
      }
    }
  }
}

.standardListForm {
  :global {
    .ant-form-item {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 32px;
        padding-top: 4px;
      }
    }
  }
}

.formResult {
  width: 100%;
  [class^="title"] {
    margin-bottom: 8px;
  }
}

.formFilter {
  :global {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;
      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}
