.table {
  :global {
    .ant-table td {
      white-space: nowrap;
    }
  }
}

.help {
  >a {
    font-size: 12px;
    text-decoration: underline;
  }
}

.notAllowed {
  display: inline-block;
  cursor: not-allowed;
  color: #ccc;
}

.lb {
  background-color: red;
  color: #ffffff;
  font-size: 10px;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 10px;
}

.orgColor {
  background-color: #faad14;
}
