{
  "presets": [
    "env",
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    [
      "component", //element-ui babel插件
      {
        "libraryName": "element-ui",
        "styleLibraryName": "~public/theme" // element 自定义主题
      }
    ]
  ],
  "comments": false
}
